#Ignora lo que se encuentra en la carpeta del curso.
/Java/Ciclo2Intensivo

#Para ignorar imagenes y comprimidos
*.jpg
*.png
*.zip
*.jfif
*.gif
*.jpeg
*.ttf
/Java/Clase_Mintic/Practica_for/target/
/Java/Clase_Mintic/Chucherias/target/
/Java/Clase_Mintic/tiendaMascotas/target/
/Java/Clase_Mintic/Reto1/target/
/Java/Clase_Mintic/Reto2/target/
/Java/Clase_Mintic/com.mycompany_tiendaMascotasMYSQL/target/
/Java/Clase_Mintic/tiendaMascotasV3.0/target/
