@font-face {
    font-family: Donglecustomize; /*Para agregar una fuente descargada*/
    src: url(fonts/Dongle-Regular.ttf);
}

body{ /*Selector de etiqueta*/
    color: darkgoldenrod;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1{
    font-family: 'Dongle', sans-serif; /*Esta propiedad sirve para dar el estilo de la fuente
                                       Hay 3 opciones por si el navegador no acepta alguna*/
    font-style: italic;/*Permite indicar la presentacion de la fuente, ejemplo CURSIVA*/
    font-size: 45px;
    text-transform: uppercase; /*Para cambiar a minuscula, mayuscula*/
}

h3{
    font-family: Donglecustomize, "comic sans MS"; /*Fuente comic Sans, MS es microsoft... No es muy recomendada*/
    font-size: 45px; /*Para determinar el tamaño de la letra*/
    font-weight: lighter; /*Para modificar el grosor de la letra, se suele usar para negrita BOLD*/
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
    
    /*TIPOS DE COLORES*/

    /*COLOR DEL SISTEMA: Son con los que viene por defecto CSS*/
    color: blue;

    /*COLOR HEXADECIMAL: Son los mismos de CSS pero traducidos a Hexadecimal*/
    color: #000000;

    /*COLOR RGB: Aquellos colores generados por un generador o por transformar*/
    color: rgb(177, 81, 21);

    /*COLOR RGBA: Los mismos RGB pero con opacidad variable*/
    color: rgba(177, 21, 21, 0.8);
}